html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fundo branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    position: relative; /* Para posicionar o título */
}

header {
    position: absolute; /* Para mover o título */
    top: 1rem; /* Espaço a partir do topo */
    left: 1rem; /* Espaço a partir da esquerda */
    font-size: 1.4rem; /* Título pequeno */
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centralizar as imagens verticalmente */
    height: 100vh; /* Ocupar toda a altura da tela */
    width: 100%; /* Ocupar toda a largura da tela */
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* Espaçamento entre as imagens */
    height: 100%; /* As imagens agora ocupam toda a altura disponível */
    width: 100%; /* Ocupar toda a largura da tela */
    padding: 0;
    margin: 0;
}

li img {
    width: 70vw; /* A largura das imagens permanece 70% da tela */
    height: auto; /* Ajuste a altura automaticamente para manter a proporção */
    object-fit: cover; /* Garantir que a imagem preencha o espaço sem distorção */
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

ul li:first-child img {
    margin-top: 5rem; /* Mover a primeira imagem mais para baixo */
}

li img:hover {
    transform: scale(1.1); /* Zoom ao passar o mouse */
}
