body {
    font-family: 'Comic Neue', sans-serif;
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

h1 {
    font-size: 2.25rem; /* Aumenta o tamanho do título */
    color: #333;
    margin-top: 1.25rem;
}

img {
    margin: 1.25rem 0;
    border: 0.1875rem solid #333;
    border-radius: 0.9375rem;
}

p {
    font-size: 3.5rem; /* Aumenta o tamanho do texto */
    color: #333;
}

b {
    display: inline-block;
    width: 100px; /* Ajuste conforme necessário */
    border-bottom: 2px solid #333; /* Linha abaixo do texto */
}

a {
    display: inline-block;
    margin: 0.625rem;
    padding: 1.5rem 2.5rem; /* Aumenta o tamanho das caixas */
    font-size: 2rem; /* Aumenta o tamanho das letras */
    color: #fff;
    background-color: #5c94c1; /* Cor azul ajustada */
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #4169E1; /* Cor azul ajustada */
}

/* Alinhamento das caixas em duas linhas de duas */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem; /* Aumenta o espaçamento entre as caixas */
    justify-content: center;
    max-width: 600px; /* Ajuste conforme necessário */
    margin: 0 auto;
}
